page-categorias {
    .item {
        border-color: rgb(201, 197, 197);
        background-color: rgb(201, 197, 197);
        color: #444;
        position: relative;
        z-index: 2;
        display: -webkit-box;
       
      
       
      }

       .padding {
        background: url(../img/home.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
