page-home {

    h3 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
    .landing {
        background: url(../img/home.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    }

    .login {
        max-width: 225px;
        margin: 0 auto;
        position: relative;
        top: 425px;
        padding-left: -15px;
    }

    .login-input {
        background: transparent;
    }

    .login-item {
        background: transparent;
        color: #b89751;
        font-weight: bold;
    }

    .facebook {
        max-width: 225px;
        margin: 0 auto;
        position: relative;
        top: 425px;
        
    }

    .facebook-button {
        position: absolute;
        top: 425px;
    }

    .big {
        font-size: 20px;
    }
    .button{
        color: #0D0247;
        background-color: #b89751;
    }
    .outline{
        color: #b89751;
        background-color: #0D0247;
    }
}
