page-advogados {

      .item {
        border-color: rgb(201, 197, 197);
        background-color: rgb(201, 197, 197);
        color: #444;
        position: relative;
        z-index: 2;
        display: block;
        margin: -1px;
        padding: 16px;
        border-width: 1px;
        border-style: solid;
        font-size: 16px;
      }
    
     
      
}
